MONGO_URI="YOUR_MONGODB_URL_HERE"

SMTP_key="YOUR_SMTP_KEY_HERE"

Brevo_REST_API="YOUR_BRAVO_REST_API_KEY_HERE"

Email="DEFAULT_EMAIL_FOR_DIFFERENT_SERVICES"

JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY_HERE"

REDIS_URI="IP_USED_FOR_LOCAL_REDIS_SERVER"